html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: solid 0.2rem $light-grayish-blue;
}

body {
  @include center;
  align-items: start;
  background-color: $very-light-gray;
  min-height: 100vh;
  min-width: 100vh;
}

img {
  display: inline-block;
}
