.block-content {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  column-gap: 1.6rem;
  row-gap: 1.6rem;

  &-img {
    width: 3.2rem;
    @include center;
    & img {
      width: 100%;
    }
  }

  &-details {
    @include center;
    justify-content: start;
    gap: 1.6rem;
  }

  &-message {
    grid-column: 1 / -1;
  }
}

.block-votes {
  @include center;
  width: 4rem;
  height: 10rem;
  justify-content: space-around;
  flex-direction: column;
  background-color: $very-light-gray;
  border-radius: 1rem;
  flex-shrink: 0;
  align-self: flex-start;

  &-icon {
    width: 1rem;
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.action-btn {
  @include center;
  gap: 0.5rem;

  &-icon {
    width: 1.4rem;
  }
}

.add-comment {
  &-text {
    height: 9.6rem;
    border: 0.1rem solid $light-gray;
    border-radius: 0.8rem;
    resize: none;
    flex-grow: 1;
  }

  &-btn {
    width: 10.4rem;
    height: 4.8rem;
    flex-shrink: 0;
    background-color: $moderate-blue;
    border-radius: 0.8rem;
  }
}

.user-flag {
  background-color: $moderate-blue;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
}
