.block-content {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  column-gap: 1.6rem;
  row-gap: 1.6rem;

  &-img {
    width: 3.2rem;
    @include center;
    & img {
      width: 100%;
    }
  }

  &-details {
    @include center;
    justify-content: start;
    gap: 1.6rem;
  }

  &-message {
    grid-column: 1 / -1;
  }
}

.block-votes {
  @include center;
  width: 4rem;
  height: 10rem;
  justify-content: space-around;
  flex-direction: column;
  background-color: $very-light-gray;
  border-radius: 1rem;
  flex-shrink: 0;

  &-icon {
    width: 1rem;
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.action-btn {
  @include center;
  gap: 0.5rem;

  &-icon {
    width: 1.4rem;
  }
}
