.mg-left-auto {
  margin-left: auto;
}

.m-blue {
  color: $moderate-blue;
  fill: $moderate-blue;
}

.m-red {
  color: $soft-Red;
  fill: $soft-Red;
}

.m-grayish {
  color: $light-grayish-blue;
  fill: $light-grayish-blue;
}
