.main {
  @include center;
  padding: 6.4rem 1rem;
  flex-direction: column;
  @media only screen and (max-width: 43.75em) {
    padding: 2rem 1rem;
  }
}

.comment-section {
  @include center;
  flex-direction: column;
  gap: 2rem;
  width: min(73rem, 95vw);
  padding-bottom: 2rem;
  animation-duration: 0.5s;
}

.replies {
  display: flex;
  align-items: stretch;
  width: 100%;

  &-pseudo-border {
    width: 4.1rem;
    border-right: 0.2rem solid $light-gray;
    flex-shrink: 0;

    @media only screen and (max-width: 43.75em) {
      width: 3.6vw;
    }
  }

  &-container {
    @include center;
    padding-left: 4.3rem;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    @media only screen and (max-width: 43.75em) {
      padding-left: 4vw;
    }
  }
}

.comment,
.reply {
  @include center;
  justify-content: flex-start;
  gap: 2.4rem;
  padding: 2.4rem;
  background-color: $white;
  border-radius: 0.8rem;
  animation-name: forwardAnimate;
  animation-duration: 0.5s;
  width: 100%;
  @media only screen and (max-width: 43.75em) {
    flex-direction: column;
  }
}

.add-comment {
  @include center;
  align-items: flex-start;
  gap: 1.6rem;
  width: min(73rem, 95vw);
  padding: 2.4rem;
  background-color: $white;
  border-radius: 0.8rem;
  animation-duration: 0.5s;
  animation-name: forwardAnimate;

  @media only screen and (max-width: 43.75em) {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.add-reply {
  width: 100%;
}
