.main {
  @include center;
  width: $desktop;
  padding: 6.4rem;
}

.comment-section {
  @include center;
  flex-direction: column;
  gap: 0.8rem;
  width: 73rem;
}

.comment {
  @include center;
  gap: 2.4rem;
  padding: 2.4rem;
  background-color: $white;
  border-radius: 0.8rem;
  width: 100%;
}
