.main {
  width: $desktop;
  padding: 6.4rem 35.5rem;
}

.comments-section {
  @include center;
  gap: 2.4rem;
  padding: 2.4rem;
  align-items: center;
  justify-content: space-evenly;
  background-color: $white;
  border-radius: 0.8rem;
}
