// Primary Colors

$moderate-blue: hsl(238, 40%, 52%);
$soft-Red: hsl(358, 79%, 66%);
$light-grayish-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);

// Secondary Colors

$white: hsl(0, 0%, 100%);
$very-light-gray: hsl(228, 33%, 97%);
$light-gray: hsl(223, 19%, 93%);
$grayish-Blue: hsl(211, 10%, 45%);
$dark-blue: hsl(212, 24%, 26%);

// Main widths

// $desktop: 144rem;
// $mobile: 37.5rem;

// Fonts

$regular: 400;
$medium: 500;
$bold: 700;
